.tile {
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: -5px;
    position: relative;
}

.tile_left {
    background: #102f43;
    color: #fff;
    font-weight: 300;
    font-size: 44px;
    line-height: 52px;
    text-transform: uppercase;
    width: 45%;
    font-family: Work Sans, sans-serif;
    padding: 50px;
    margin-top: -90px;
}

.tile_right {
    background-color: white;
    color: #3ca0b9;
    font-family: Libre Baskerville, serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 35px;
    padding: 20px 15px;
}

.tickets {
    background-color: #389eb9;
    margin-top: -21px;
    padding-bottom: 60px;
}

.tickets__wrapper {
    width: calc(100% - 30%);
    margin: 0 auto;
}

.tickets__header {
    font-size: 26px;
    margin-bottom: 20px;
    color: white;
    padding-top: 20px;
}

.tickets__button {
    color: #10597c;
    background: #dec86e;
    border: none;
    border-radius: 0;
    position: relative !important;
    text-transform: uppercase;
    font-size: 14px !important;
    padding: 7px 35px;
    cursor: pointer;
    transition: all .2s ease;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
}

.tickets__button::after {
    content: "";
    background-image: url(../../assets/icons/ico-ticket-new.svg);
    width: 30px;
    height: 17px;
    display: block;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 1px;
    top: 8px;
    transition: all .2s ease;
    z-index: 2;
    transform: scale(.9);
}

.block {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 60px;

}

.block_left,
.block_right {
    color: white;
    width: calc(100% / 2);
}

.calendar__schedules {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.calendar__month-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #389eb9;
    border: 0.5px solid white;
}

.calendar__button_left {
    background-color: transparent;
    left: 50%;
    margin-left: -4px;
    border-width: 5px 8.7px 5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    top: 7%;
    left: 0;
    cursor: pointer;
}

.calendar__button_right {
    background-color: transparent;
    right: 50%;
    margin-right: -4px;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 7%;
    right: 0;
    cursor: pointer;
}

.calendar {
    padding-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 98%;
    height: 370px;
    margin: auto;
    cursor: pointer;
}

td,
th {
    border: 2px solid white;
    padding: 3px;
    text-align: center;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}

.td__fill {
    background-color: #389db995;
    font-size: 15px;
}

.td__highlight {
    background-color: #dec86e;

}

.calendar__text {
    text-align: justify;
}

.calendar__options {
    width: 100%;
}

.options__container-name {
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0px 2px 10px;
}


.option {
    width: 96.7%;
    background-color: white;
    border: none;
    border-bottom: 0.1px solid #389eb9;
    padding: 0px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option__name {
    color: black;
}

.expeirences-option__name {
    color: black;
    padding: 15px;
}

.option__price {
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}

.option__ticket {
    width: 55px;
    height: 25px;
    border: none;
    border-radius: 30px;
    background-image: url(../../assets/icons/ico-ticket-new.svg);
    background-size: 20px;
    background: #dec86e;
    position: relative;
}

.option__price-value {
    width: 70px;
    display: flex;
    justify-content: flex-end;
}

.option__ticket::after {
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS4xNSAxNi44MiI+PGcgaWQ9IkNhcGFfMiIgZGF0YS1uYW1lPSJDYXBhIDIiPjxnIGlkPSJDYXBhXzEtMiIgZGF0YS1uYW1lPSJDYXBhIDEiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzEzMmY0MyI+PHBhdGggZD0iTS41NiAxdjIuMzJsLjI5LjEyQTUuMjggNS4yOCAwIDAgMSA0IDguMzRhNS4yNSA1LjI1IDAgMCAxLTMuMTcgNWwtLjMuMTF2Mi43N0gxbDI3LjE2LjEyaC40NlYxMy40bC0uMzEtLjExYTUuMjEgNS4yMSAwIDAgMS0zLjMyLTUgNS4yNCA1LjI0IDAgMCAxIDMuMzYtNWwuMzEtLjFWLjYzaC0uNDZMMSAuNUguNTZ6Ii8+PHBhdGggZD0iTS41NiAxdjIuMzJsLjI5LjEyQTUuMjggNS4yOCAwIDAgMSA0IDguMzRhNS4yNSA1LjI1IDAgMCAxLTMuMTcgNWwtLjMuMTF2Mi43N0gxbDI3LjE2LjEyaC40NlYxMy40bC0uMzEtLjExYTUuMjEgNS4yMSAwIDAgMS0zLjMyLTUgNS4yNCA1LjI0IDAgMCAxIDMuMzYtNWwuMzEtLjFWLjYzaC0uNDZMMSAuNUguNTZ6IiBzdHJva2Utd2lkdGg9Ii41Ii8+PHBhdGggc3Ryb2tlLXdpZHRoPSIuOTIiIHN0cm9rZS1kYXNoYXJyYXk9IjEuNSwxLjUiIGQ9Ik0xMC40NiAxNS43OGwuMTItMTQuOCIvPjwvZz48L2c+PC9zdmc+);
    width: 30px;
    height: 17px;
    display: block;
    background-size: 100%;
    position: absolute;
    background-repeat: no-repeat;
    left: 22.5%;
    top: 18.3%;
    transition: all .2s ease;
    z-index: 2;
    transform: scale(.9);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


.oceanographic-experiences {
    background-color: #186890;
    padding-top: 60px;
    padding-bottom: 30px;
}



.conditions {
    background-color: white;
}

.conditions__header {
    font-family: inherit;
    font-size: 26px;
    text-transform: uppercase;
    color: #3ca0b9;
    font-weight: 500;
    margin-top: 0;
}

.conditions__text {
    color: black;
}

.conditions__options {
    width: 100%;
}

.condition-options__name {
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 0px 10px;
    color: black;
}

.condition-options__name_bcgr {
    background-color: #389eb9;
    color: white;
}


.condition-options__list {
    background-color: #ebf5f8;
    padding: 15px;
    font-size: 16px;
    color: black;
}

.free-entries {
    border-top: 1px solid #44a0b8;
}

.free-entries__header {
    font-family: inherit;
    font-size: 26px;
    text-transform: uppercase;
    color: #3ca0b9;
    font-weight: 500;
}

@media screen and (max-width:1600px) {
    .options__container-name {
        padding: 5px 0px 5px 10px;
    }
}

@media screen and (max-width:1270px) {
    .td__fill {
        font-size: 13px;
    }

    .condition-options__name {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media screen and (max-width:990px) {
    .tile {
        display: flex;
        flex-direction: column;
    }

    .tile_left {
        width: 89.8%;
    }

    .tickets__calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .calendar__left {
        width: 100%;
    }

    .calendar__right {
        width: 100%;
    }
}
