@font-face {
    font-family: 'Libre';
    src: url('../../assets/font/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBold';
    src: url('../../assets/font/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans-Italic';
    src: url('../../assets/font/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
}

.personal__background {
    background-image: url(../../assets/images/home-bg-tortugas.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    padding-top: 5%;
}

.personal__data {
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    width: 100%;
    background-color: #041c2e69;
    margin: 50px 0px 100px 0px;
    box-shadow: 5px 5px 5px #3c444fc9, -5px -5px 10px #48787ac9;
}

.personal__name {
    width: 40%;
    border-right: 1px solid white;
    font-size: 20px;
    color: white;
    text-align: center;
    box-shadow: inset -5px 5px 20px 2px #0f6c87f5, -5px -5px 10px #36878ac9;
}

.personal__tickets {
    width: 60%;
    font-size: 20px;
    color: white;
    text-align: center;
    background: linear-gradient(#184461, #2d8299);
}

.name-user {
    border-top: 1px solid white;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'WorkSans-Italic';
    text-align: start;
    padding: 15px 5px 0px 15px;
}

.surname-user,
.phone-user {
    margin-top: 0;
    font-family: 'WorkSans-Italic';
    text-align: start;
    padding-left: 15px;
}

.users-tickets {
    border-top: 1px solid white;
    width: 100%;
    text-align: start;
    box-shadow: 0px 2px 5px #3c4552a6
}

.personal-statistic {
    padding: 15px 0px;
    background: linear-gradient(#184461, #2d8299);
    color: rgb(255, 255, 255);
    border-top: 1px solid white;
}

.quiz-result_wrapper {
    text-align: start;
    padding: 10px;
}

.total-quiz-result-0 {
    color: #67f767c7;
    margin: 0px;
    padding: 0px;
}

.total-quiz-result-1 {
    color: rgb(170, 197, 0);
    margin: 0px;
    padding: 0px;
}

.total-quiz-result-2 {
    color: rgb(250 148 97);
    margin: 0px;
    padding: 0px;
}

.personal-statistic_label {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    padding-bottom: 0;
    margin: 10px 15px 0px 0px;
    font-family: WorkSans-Italic;

}

@media screen and (max-width: 769px) {
    span {
        display: inline;
    }
}

@media screen and (max-width: 750px) {
    .personal__name {
        font-size: 16px;
    }

    .name-user {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .personal__name {
        font-size: 13px;
    }

    .tickets__selection {
        width: 95%;
    }
}
