@font-face {
    font-family: 'Libre';
    src: url('../../assets/font/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBold';
    src: url('../../assets/font/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans-Italic';
    src: url('../../assets/font/WorkSans-Italic-VariableFont_wght.ttf') format('truetype');
}

.personal__background {
    background-image: url(../../assets/images/home-bg-tortugas.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    padding-top: 5%;
}

.personal__data {
    border-radius: 5px;
    border: 1px solid white;
    display: flex;
    width: 100%;
    background-color: #041c2e69;
    margin-top: 50px;
}

.personal__name {
    width: calc(100% / 4);
    border-right: 1px solid white;
    font-size: 20px;
    color: white;
    text-align: center;
}

.personal__tickets {
    width: calc(100% - (100% / 4));
    font-size: 20px;
    color: white;
    text-align: center;
}

.name-user {
    border-top: 1px solid white;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'WorkSans-Italic';
    text-align: start;
    padding: 15px 5px 0px 15px;
}

.surname-user,
.phone-user {
    margin-top: 0;

    font-family: 'WorkSans-Italic';
    text-align: start;
    padding-left: 15px;
}

.users-tickets {
    border-top: 1px solid white;
    width: 100%;
    text-align: start
}

.personal-statistic {
    padding: 15px 0px;
    background-color: #b1cbe52e;
    color: rgb(255, 255, 255);
    font-family: LibreBold;
    border-top: 1px solid white;
}

.personal-statistic_label {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    padding-bottom: 0;
    margin: 10px 15px 0px 0px;
    font-family: WorkSans-Italic;

}

.personal-statistic_input {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 90%;
    margin-top: 0;
}

.personal-statistic_input::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #85add4;
    border-radius: 1px;
    border: 1px solid #85add4;
}

.personal-statistic_input::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px #85add4;
    border: 2px solid #85add4;
    height: 23px;
    width: 15px;
    border-radius: 23px;
    background: #559bc0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
