* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer a::after {
  display: none;
}

li {
  list-style-type: none;
}

.footer {
  position: relative;
  z-index: 5;
  background: #dec86e;
  padding: 10px 0 0;
  color: #102f43;
}

.footer.dark {
  background: #b89e35;
}

.footer__wrapper {
  color: #102f43;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  max-width: 1140px;
}

.footer_col {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer_row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.footer ul.footer-nav ul.sub-menu li:first-of-type {
  margin-top: 5px;
}

.footer ul.footer-nav ul.sub-menu {
  list-style: none;
  padding-left: 20px;
}

.footer ul.footer-nav li {
  line-height: 19px;
  margin-bottom: 12px;
}

.footer ul.footer-nav a {
  color: #102f43;
  padding-bottom: 4px;
}

.btn.btn-footer {
  color: #dec86e;
  background: #102f43;
  margin-bottom: 15px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  text-align: left;
  white-space: normal;
}

.btn {
  display: inline-block;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.footer .social-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .logos-container .logos-row {
  display: flex;
  margin: 15px 0 0;
}

.footer .logos-container .row:first-of-type {
  margin: 20px 0 0;
}

.footer .logos-container a {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.footer .logos-container .logos-item {
  display: flex;
  align-items: center;
}

.img-fluid {
  max-width: 70%;
  height: auto;
}

.footer ul.footer-nav a {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.logos-item {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
}

.twitter,
.facebook,
.instagram,
.youtube,
.tiktok,
.linkedin {
  fill: #102f43;
  transition: fill 0.2s ease-in-out;
}

.btn-social svg:hover path {
  fill: #e7d898;
}

.post-footer {
  background: #e7d898;
  font-size: 14px;
  padding: 15px;
  color: #102f43;
}

.post-footer.dark {
  background: #dec86e;
}

.post-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.item-post-footer .authors_link {
  margin: 0 20px;
  color: #102f43;
}

.item-post-footer .authors_link:hover {
  border-bottom: 1px solid #102f43;
}

.rs_img {
  width: 100px;
  height: 50px;
  background-image: url(../../../assets/icons/rs_school_js.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px) {
  .footer__wrapper {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .footer__wrapper {
    max-width: 720px;
  }
  .footer ul.footer-nav li {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .footer__wrapper {
    max-width: 540px;
  }
  .footer_row {
    flex-direction: column;
  }
  .footer_col {
    flex: none;
    max-width: 100%;
  }
  .post-footer {
    padding: 5px;
  }
  .post-footer__wrapper {
    flex-direction: column;
  }
  .item-post-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-post-footer .authors_link {
    display: block;
    margin: 10px 0;
    width: 100px;
    text-align: center;
  }
  span {
    display: none;
  }
  .rs {
    margin-top: 10px;
  }
}
