a,
a:visited {
    text-decoration: none;
    color: white;
}

/* ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
} */

body {
    margin: 0;
    font-family: Work Sans, sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    width: calc(100% - 20px);
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__nav {
    position: relative;
    font-size: 16px;
    font-family: Work Sans, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    height: 50px;
    width: 100%;
    z-index: 55;
    align-items: center;
}


.header__logo {
    width: calc(100% - 90%);
    height: 50px;
    background-image: url(./assets/icons/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 55;
    margin-right: 100px;
}

.background-video {
    margin-top: -58px;
    width: 100%;
}

footer {
    position: relative;
    z-index: 5;
    background: #dec86e;
    padding: 40px 0;
    color: #102f43;
    height: 500px;
}

.td__highlight {
    background-color: #dec86e;
}
